* {
    margin: 0;
    padding: 0;
}
h1 {
  color: white;
}
span {
  color: skyblue;
}
button {
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
  border: solid blue;
}
button:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
  border-bottom: solid 1px white;
}   
.logo {
  color: white;
  margin-left: 50px;
}
.link a {
  margin: auto 15px;
  color: white;
  text-decoration: none;
}
.link a:hover {
  text-decoration: underline;
}
.login {
  color: black;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin-right: 50px;
}
.login:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}
.login a {
  text-decoration: none;
  color: black;
}
body {
  background-color: black;
}
.content {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.content-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
